<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Южный Ветер</title>
    <meta name="description" content="{% block meta_description %}Южный Ветер – оптовый склад бакалейной продукции в Сочи. Высококачественный ассортимент: яйца, мука, крупы, макароны, консервация и многое другое. Быстрая и надежная доставка для магазинов, санаториев и кондитерских по всему городу.{% endblock %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon", type="image/png" sizes="32x32"  href="{% static 'img/icon.png' %}">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css" media="print" onload="this.media='all'" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css" media="print" onload="this.media='all'" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" media="print" onload="this.media='all'">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" media="print" onload="this.media='all'">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}
  </head>
  <body>
    
  <header class="header">
    <div class="nav-container">
      <div class="logo-nav">
        <a href="{% url 'home:home' %}#home" class="destkop-home-link" id="logo-link">
          <picture>
            <source srcset="{% static 'img/logo.webp' %}" type="image/webp">
            <img class="logo" alt="logo" src="{% static 'img/logo.png' %}">
          </picture>
        </a>
      </div>
      <div class="burger-menu">☰</div>
      <div class="bar-menu">
        <ul class="menu vertical-menu">
          <li class="menu-item">
            <a href="{% url 'home:home' %}#home" class="menu-link">
              <picture>
                <source srcset="{% static 'img/eggsicon.webp' %}" type="image/webp">
                <img src="{% static 'img/eggsicon.png' %}" class="icon">
              </picture>
              <i class="fas fa-home"></i> 
              <span class="menu-text">Главная</span>
           </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'home:home' %}#categories" class="menu-link {% if request.path == 'grocery' or '#categories' in request.path %}active{% endif %}">
              <picture>
                <source srcset="{% static 'img/eggsicon.webp' %}" type="image/webp">
                <img src="{% static 'img/eggsicon.png' %}" class="icon">
              </picture>
              <i class="fas fa-box"></i>
              <span class="menu-text">Продукция</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'home:home' %}#about" class="menu-link">
              <picture>
                <source srcset="{% static 'img/eggsicon.webp' %}" type="image/webp">
                <img src="{% static 'img/eggsicon.png' %}" class="icon">
              </picture>
              <i class="fas fa-info-circle"></i> 
              <span class="menu-text">О нас</a></span>
          </li>
          <li class="menu-item">
            <a href="{% url 'home:home' %}#contact" class="menu-link">
              <picture>
                <source srcset="{% static 'img/eggsicon.webp' %}" type="image/webp">
                <img src="{% static 'img/eggsicon.png' %}" class="icon">
              </picture>
              <i class="fas fa-phone-alt"></i> 
              <span class="menu-text">Контакты</a></span>
          </li>
          <li class="menu-item">
            <a href="{% url 'home:home' %}#partner" class="menu-link">
              <picture>
                <source srcset="{% static 'img/eggsicon.webp' %}" type="image/webp">
                <img src="{% static 'img/eggsicon.png' %}" class="icon">
              </picture>
              <i class="fas fa-handshake"></i> 
              <span class="menu-text">Партнеры</a></span>
          </li>
        </ul>
      </div>
    </div>
  </header>

    <!-- Блок для вставки контента -->
    <div id="content">
      {% block content %}
      {% endblock %}
      <div class="whatsapp-widget">
        <div class="whatsapp-container" onclick="openWhatsAppChat()">
            <picture>
              <source srcset="{% static 'img/whatsapp_icon.webp' %}" type="image/webp">
              <img class="whatsapp-logo" src="{% static 'img/whatsapp_icon.png' %}" alt="Связаться через WhatsApp" />
            </picture>
            <div class="whatsapp-text">Свяжитесь с нами</div>
        </div>
      </div>
    </div>

    <!-- Футер -->
    <footer>
      <div class="row">
        <div class="col-2">
          <p>ООО "Южный ветер"</p>
          <p class="hide-on-mobile">Телефон: +7 (862) 268-23-08</p>
        </div>
        <div class="col-2">
          <p>ИНН: 2320167404</p>
          <p>ОГРН: 1082366002476</p>
        </div>
        <div class="col-5">
          <p class="hide-on-mobile">Юридический адрес: Краснодарский край, г Сочи, Кипарисовая ул, д. 8в</p>
          <a href="/privacy-policy/" class="p-link">Политика конфиденциальности</a>
        </div>
        <div class="col-3">
          <p class="hide-on-mobile">Электронная почта:&nbsp;<a href="mailto:swsochi@gmail.ru" class="p-link">office@swsochi.ru</a></p>
        </div>
  </footer>
    {% block scripts %}
      <!-- Скрипты -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
      <script src="{% static 'js/main.js' %}" defer></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>
    {% endblock %}
  </body>
</html>