{% extends "base.html" %}
{% load static %}

{% block head %}
  <title>{{ grocery.name }} — купить оптом в Сочи | ООО "Южный Ветер"</title>
  <link rel="stylesheet" href="{% static 'css/grocery_detail.css' %}">
  <meta name="description" content="{{ grocery.name }} оптом купить в Сочи. {{ meta_description }} Удобная доставка от ООО «Южный ветер».">
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]function(){(m[i].a=m[i].a[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(99151012, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/99151012" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
   <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1QND4QW85N"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-1QND4QW85N');
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ItemList",
      "numberOfItems": {{ images|length }},
      "itemListElement": [
        {% for image in images %}
        {% if image.is_active %}
        {
          "@type": "Product",
          "position": {{ forloop.counter }},
          "name": "{{ image.description|escapejs }}",
          "image": "{{ image.image.url|escapejs }}",
          "description": "Уточняйте цену у менеджера",
          "offers": {
            "@type": "Offer",
            "availability": "https://schema.org/InStock"
          }
        }{% if not forloop.last %},{% endif %}
        {% endif %}
        {% endfor %}
      ]
    }
    </script>
{% endblock %}
{% block content %}
<section id="grocery-detail" class="py-5">
  <div class="product-info" data-aos="fade-up">
    <h1>{{ grocery.name }}</h1>
    <p>{{ grocery.description }}</p>
  </div>

  <div class="popular-groceries">
    <h2 style="font-size: 32px;" data-aos="fade-up">Популярные товары</h2>
    <div class="carousel" data-aos="zoom-in">
  {% for image in images %}
    {% if image.is_active %}
      <div class="image-wrapper">
        <div class="circle-image image-{{ forloop.counter0 }}">
          <picture>
            {% if image.image_webp %}
              <source srcset="{{ image.image_webp.url }}" type="image/webp">
            {% endif %}
            <img src="{{ image.image.url }}" alt="Изображение к {{ grocery.name }}" class="grocery-image">
          </picture>
        </div>
        <p class="image-description">
          {{ image.description }}&nbsp;
          {% if image.volumes.exists %}
            {% for volume in image.volumes.all %}
                {{ volume.value }}{{ volume.measurement_unit }}
                {% if not forloop.last %}/{% endif %}
            {% endfor %}
          {% endif %}
        </p>
      </div>
    {% endif %}
  {% endfor %}
  </div>
  {% if grocery.certificate %}
    <button id="btn-certificate" class="button btn-certificate">Сертификат дистрибуции</button>
    <div id="modal" class="modal">
      <img src="{{ grocery.certificate.url }}" alt="Сертификат">
      <span class="close">&times;</span>
    </div>
  {% endif %}
  </div>
  <div class="other-groceries">
    <h3>Категории продукции</h3>
    <p>Ознакомиться с остальными нашими товарами можно перейдя по ссылке нужной категории</p>
      <button class="button toggle-button" onclick="toggleCategories()">Категории продукции</button>
    <div class="category-links hidden" id="categories">
      {% for item in groceries %}
        {% if item.slug != grocery.slug %}
          <div class="category-image">
            <a href="{% url 'home:grocery-detail' slug=item.slug %}">
              <picture>
                {% if item.image_webp %}
                  <source srcset="{{ item.image_webp.url }}" type="image/webp">
                {% endif %}
                <img src="{{ item.image.url }}" alt="{{ item.name }}">
              </picture>
              <span class="category-name">{{ item.name }}</span>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="order-guide">
    <h3>Как оформить заказ</h3>
    <p>Вы можете приобрести {{ grocery.name|lower }}, а так же другие продукты <strong class="highlight">на месте</strong> или заказать доставку. Цены зависят от <strong class="highlight">объёма закупки</strong>. 
      <span class="highlight">Доставка бесплатная</span> и осуществляется <strong class="highlight">на следующий день</strong> после подачи заявки.<br>
      Если у вас возникли вопросы, наши менеджеры готовы ответить на них. Не стесняйтесь обращаться — мы сделаем всё, чтобы процесс заказа был максимально <span class="highlight">простым и удобным</span>.
    </p>
    <div class="contact-groceries">
      <h4>Свяжитесь с нами для уточнения:</h4>
      <ul>
          <li><strong class="highlight">Цен на интересующие вас товары</strong></li>
          <li><strong class="highlight">Процесса доставки</strong></li>
          <li><strong class="highlight">Заключения договора на подходящих условиях</strong></li>
      </ul>
      
      <div class="contact-buttons">
        <h4>Доступные способы связи:</h4>
        <ul>
          <li>
            <a href="https://wa.me/79182000207" class="circle-btn whatsapp-btn" title="Написать в WhatsApp">
              <img src="{% static 'img/whatsapp_icon.png' %}" alt="WhatsApp">
            </a>
            <p>сообщением или звонком по WhatsApp.</p>
          </li>
          <li>
              <a href="tel:+79182000207" class="circle-btn phone-btn" title="Позвонить">
                <img src="{% static 'img/phone.png' %}" alt="Телефон">
              </a>
              <p>звонком по мобильному телефону.</p>
          </li>
          <li>
            <a href="mailto:swsochi@gmail.ru" class="circle-btn mail-btn" title="Написать на почту">
              <img src="{% static 'img/лого-почта.webp' %}" alt="Эл. почта">
            </a>
            <p>написав письмо на наш электронный адрес.</p>
          </li>
        </ul>
      </div>
      <p style="padding-top: 20px;">Подробную информацию, включая адрес с навигацией, вы найдёте в разделе <a href="/#contact" class="link-highlight">Контакты</a>.</p>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js" defer></script>
  <script src="{% static 'js/main.js' %}" defer></script>
  <script src="{% static 'js/grocery_detail.js' %}" defer></script>
{% endblock %}

