{% extends "base.html" %}
{% load static %}

{% block head %}
  <title>{{ grocery.name }} — купить оптом в Сочи | ООО "Южный Ветер"</title>
  <link rel="stylesheet" href="{% static 'css/grocery_detail.css' %}">
  <meta name="description" content="{{ grocery.name }} оптом купить в Сочи. {{ meta_description }} Удобная доставка от ООО «Южный ветер».">
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]function(){(m[i].a=m[i].a[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(99151012, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/99151012" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
   <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1QND4QW85N"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-1QND4QW85N');
  </script>
{% endblock %}
{% block content %}
<section id="grocery-detail" class="py-5">
  <div class="product-info" data-aos="fade-up">
    <h1>{{ grocery.name }}</h1>
    <p>{{ grocery.description }}</p>
  </div>

  <div class="popular-groceries">
    <h2 style="font-size: 32px;" data-aos="fade-up">Популярные товары</h2>
    <div class="carousel" data-aos="zoom-in">
  {% for image in images %}
    {% if image.is_active %}
      <div class="image-wrapper">
        <div class="circle-image image-{{ forloop.counter0 }}">
          <picture>
            {% if image.image_webp %}
              <source srcset="{{ image.image_webp.url }}" type="image/webp">
            {% endif %}
            <img src="{{ image.image.url }}" alt="Изображение к {{ grocery.name }}" class="grocery-image">
          </picture>
        </div>
        <p class="image-description">
          {{ image.description }}&nbsp;
          {% if image.volumes.exists %}
            {% for volume in image.volumes.all %}
                {{ volume.value }}{{ volume.measurement_unit }}
                {% if not forloop.last %}/{% endif %}
            {% endfor %}
          {% endif %}
        </p>
      </div>
    {% endif %}
  {% endfor %}
  </div>
  {% if grocery.certificate %}
    <button id="btn-certificate" class="btn btn-certificate">Сертификат дистрибуции</button>
    <div id="modal" class="modal">
      <img src="{{ grocery.certificate.url }}" alt="Сертификат">
      <span class="close">&times;</span>
    </div>
  {% endif %}
  </div>
  <div class="other-groceries">
    <h3>Категории продукции</h3>
    <p>Вы можете ознакомиться с другими нашими товарами перейдя по ссылке нужной категории</p>
    <div class="category-links">
      {% for item in groceries %}
        {% if item.slug != grocery.slug %}
          <div class="category-image">
            <a href="{% url 'home:grocery-detail' slug=item.slug %}">
              <picture>
                {% if item.image_webp %}
                  <source srcset="{{ item.image_webp.url }}" type="image/webp">
                {% endif %}
                <img src="{{ item.image.url }}" alt="{{ item.name }}">
              </picture>
              <span class="category-name">{{ item.name }}</span>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="order-guide">
    <h3>Как оформить заказ</h3>
    <p>Продукцию можно приобрести на месте или заказать доставку. Цены зависят от объёма закупки. Доставка бесплатная и осуществляется на следующий день после подачи заявки. </p>
    <p>Для уточнения цен, процесса доставки и заключения договора на условиях, подходящих для ваших нужд, пожалуйста, свяжитесь с нами любым удобным способом:</p>
    <div class="contact-buttons">
      <a href="https://wa.me/79182000207" class="circle-btn whatsapp-btn" title="Написать в WhatsApp +7-918-200-02-07">
        <img src="{% static 'img/whatsapp_icon.png' %}" alt="WhatsApp">
      </a>
      <a href="tel:+79182000207" class="circle-btn phone-btn" title="Позвонить +7-918-200-02-07">
        <img src="{% static 'img/phone.png' %}" alt="Телефон">
      <a href="https://wa.me/79183044300" class="circle-btn whatsapp-btn" title="Написать в WhatsApp +7-918-304-43-00">
        <img src="{% static 'img/whatsapp_icon.png' %}" alt="WhatsApp">
      </a>
      </a>
      <a href="tel:+79183044300" class="circle-btn phone-btn" title="Позвонить +7-918-304-43-00">
        <img src="{% static 'img/phone.png' %}" alt="Телефон">
      </a>
    </div>
    <p>Со всеми интересующими вопросам вы также можете написать на наш электронный адрес: <a href="mailto:swsochi@gmail.ru" class="link-highlight">office@swsochi.ru</a></p>
    <p>Подробную информацию, включая адрес с навигацией, вы найдёте в разделе <a href="/#contact" class="link-highlight">Контакты</a>.</p>
  </div>
</section>
{% endblock %}
{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js" defer></script>
  <script src="{% static 'js/main.js' %}" defer></script>
  <script src="{% static 'js/grocery_detail.js' %}" defer></script>
{% endblock %}

