{% extends "base.html" %}
{% load static %}

{% block title %}Главная - Южный Ветер{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/mobile_index.css' %}" media="screen and (max-width: 1300px)">
{% endblock %}
{% block content %}
<section id="home" class="bg-light py-5">
  <div class="container">
    <div class="row align-items-center" data-aos="fade-down">
      <h1>Добро пожаловать в компанию<br>Южный Ветер!</h1>
      <!-- Блоки с анимацией по скроллу -->
      <div class="element-list">
        {% for element in elements %}
          <div class="element-item" data-aos="fade-up" data-aos-offset="600" data-aos-delay="{{ forloop.counter0|add:100 }}">
            <!-- Анимация для каждого блока -->
            <div class="element-image">
              <picture>
                {% if element.image_webp %}
                  <source srcset="{{ element.image_webp.url }}" type="image/webp">
                {% endif %}
                <img src="{{ element.image.url }}" alt="{{ element.name }}">
              </picture>
            </div>
            <div class="element-details">
              <p>{{ element.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="categories">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="section-title text-center" data-aos="fade-up">Продукты</h1>
        <p class="text-center" data-aos="fade-up">Мы предлагаем широкий ассортимент товаров бакалейной группы. В нашем каталоге вы найдете:</p>
      </div>
    </div>

    <div class="category-list">
      {% for grocery in groceries %}
          <div class="category-item {% if forloop.counter0|divisibleby:2 %}category-left{% else %}category-right{% endif %}" data-aos="fade-right" data-aos-offset="300" data-aos-delay="{{ forloop.counter0|add:100 }}">
              <div class="category-image">
                  {% if grocery %}
                      <a href="{% url 'home:grocery-detail' slug=grocery.slug %}">
                        <picture>
                          {% if grocery.image_webp %}
                            <source srcset="{{ grocery.image_webp.url }}" type="image/webp">
                          {% endif %}
                          <img src="{{ grocery.image.url }}" alt="{{ grocery.name }}">
                        </picture>
                      </a>
                  {% else %}
                      <span>Нет доступных продуктов</span>
                  {% endif %}
              </div>
              <div class="category-details">
                  <div class="category-title">
                      {% if grocery %}
                          <a href="{% url 'home:grocery-detail' slug=grocery.slug %}">
                              <h4>{{ grocery.name }}</h4>
                          </a>
                      {% else %}
                          <h4>{{ grocery.name }}</h4>
                      {% endif %}
                  </div>
                  <div class="category-description">
                      <p>{{ grocery.main_description }}</p>
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>

    <div class="col-12 text-center" data-aos="fade-up">
      <p>Для получения актуального прайс-листа свяжитесь с нами удобным для вас способом - позвонив по телефону или через  WhatsApp</p>
      <a href="https://wa.me/79182000207" onclick="openWhatsAppChat()" target="_blank" data-aos="zoom-in" class="btn btn-primary">Связаться с нами</a>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <h1 data-aos="fade-up">О нас</h1>
    <p data-aos="fade-up">
      Наша компания уже более двадцати лет сотрудничает с ведущими производителями птицефабрик, мукомольной промышленности, круп и консервов. Среди них — Таганрогская и Свердловская птицефабрики, Старооскольский мукомольный завод, входящий в состав ТД "Оскольская Мука", мельничное хозяйство "Лада" под управлением ТД "Аверс", а также компания "Основа", выпускающая кубанские крупы, и производственное объединение заводов "Знаток", известное своими консервами.
    <br>
      Продукция этих компаний широко востребована в ресторанах, кафе и санаториях города Сочи. Мы являемся их официальным дистрибьютором и с гордостью предлагаем её нашим клиентам.
    </p>
    <h2 data-aos="fade-up" data-aos-offset="600" data-aos-delay="{{ forloop.counter0|add:100 }}">Преимущества нашей компании</h2>
    <div class="advantages">
      <div class="advantage"  data-aos="zoom-in" data-aos-offset="600" data-aos-delay="{{ forloop.counter0|add:100 }}">
        <picture>
          <source srcset="{% static 'img/experience.webp' %}" type="image/webp">
          <img src="{% static 'img/experience.png' %}" alt="Опыт">
        </picture>
        <div>
          <h3>Большой опыт работы</h3>
          <p>Многолетний опыт работы в городе Сочи.</p>
        </div>
      </div>
      <div class="advantage" data-aos="zoom-in"data-aos-offset="600" data-aos-delay="{{ forloop.counter0|add:100 }}">
        <picture>
          <source srcset="{% static 'img/free-delivery.webp' %}" type="image/webp">
          <img src="{% static 'img/free-delivery.png' %}" alt="Бесплатная доставка">
        </picture>
        <div>
          <h3>Бесплатная доставка</h3>
          <p>Бесплатная доставка осуществляется на следующий день после подачи заявки.</p>
        </div>
      </div>
      <div class="advantage"  data-aos="zoom-in"data-aos-offset="600" data-aos-delay="{{ forloop.counter0|add:100 }}">
        <picture>
          <source srcset="{% static 'img/modern-vehicles.webp' %}" type="image/webp">
          <img src="{% static 'img/modern-vehicles.png' %}" alt="Современные автомобили">
        </picture>
        <div>
          <h3>Современные автомобили</h3>
          <p>Автомобили оборудованы регулированием температуры.</p>
        </div>
      </div>
      <div class="advantage" data-aos="zoom-in" data-aos-offset="300" data-aos-delay="{{ forloop.counter0|add:100 }}">
        <picture>
          <source srcset="{% static 'img/best-prices.webp' %}" type="image/webp">
          <img src="{% static 'img/best-prices.png' %}" alt="Оптовые цены">
        </picture>
        <div>
          <h3>Оптовые цены</h3>
          <p>Самые низкие цены в городе на товары дистрибьюции. Сотрудничество с ведущими заводами-производителями.</p>
        </div>
      </div>
      <div class="advantage" data-aos="zoom-in" data-aos-offset="300" data-aos-delay="{{ forloop.counter0|add:100 }}">
        <picture>
          <source srcset="{% static 'img/high-quality.webp' %}" type="image/webp">
          <img src="{% static 'img/high-quality.png' %}" alt="Высокое качество">
        </picture>
        <div>
          <h3>Высокое качество продукции</h3>
          <p>Наивысшее качество продукции. Возможен обмен в течение трех дней при возникновении спорных моментов.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2 data-aos="fade-up">Контакты</h2>
        <p data-aos="fade-up">Наша компания находится по адресу ул. Кипарисовая д. 8В</p>
        <p data-aos="fade-up">Вы можете связаться с нами, позвонив или оставив сообщение в WhatsApp.</p>
        <p>
          <a class="whatsapp-button" href="https://wa.me/79182000207" onclick="openWhatsAppChat()" target="_blank" data-aos="zoom-in">
            <picture>
              <source srcset="{% static 'img/whatsapp_icon.webp' %}" type="image/webp">
              <img class="watsapp-logo" src="{% static 'img/whatsapp_icon.png' %}" alt="Связаться через WhatsApp">
            </picture>
            +7-918-200-02-07
          </a>
        </p>
        <p>
          <a class="whatsapp-button" href="https://api.whatsapp.com/send?phone=79183044300" target="_blank" data-aos="zoom-in">
            <picture>
              <source srcset="{% static 'img/whatsapp_icon.webp' %}" type="image/webp">
              <img class="watsapp-logo" src="{% static 'img/whatsapp_icon.png' %}" alt="Связаться через WhatsApp">
            </picture>
            +7-918-304-43-00
          </a>
        </p>
        <h3 data-aos="fade-up" >Часы работы</h3>
        <p data-aos="fade-up">Понедельник - Суббота: 08:00 - 16:30</p>
        <p data-aos="fade-up">Воскресенье - Выходной</p>
        <h3 data-aos="fade-up">Электронная почта</h3>
        <p data-aos="fade-up"><a href="mailto:swsochi@gmail.ru">office@swsochi.ru</a></p>
      </div>
      {% if "mobile" in request.META.HTTP_USER_AGENT|lower %}
        <div class="static-map">
          <img 
            src="https://static.maps.2gis.com/1.0?s=880x250&c=43.63236,39.7469&z=16&pt=43.6333,39.7447" 
            alt="Статичная карта для указания местоположения офиса"
            style="width: 100%; height: auto;"
          >
        </div>
      {% else %}
      <div class="col-6">
        <div class="widget-map">
          <a class="dg-widget-link" href="http://2gis.ru/sochi/firm/4222652931725170/center/39.7447156906128,43.63355928829732/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Сочи</a>
          <div class="dg-widget-link">
            <a href="http://2gis.ru/sochi/firm/4222652931725170/photos/4222652931725170/center/39.7447156906128,43.63355928829732/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a>
          </div>
          <div class="dg-widget-link">
            <a href="http://2gis.ru/sochi/center/39.744722,43.633271/zoom/16/routeTab/rsType/bus/to/39.744722,43.633271╎Южный ветер, оптовая компания?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Южный ветер, оптовая компания</a>
          </div>
          <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
          <script charset="utf-8">new DGWidgetLoader({"borderColor":"#a3a3a3","pos":{"lat":43.63355928829732,"lon":39.7447156906128,"zoom":16},"opt":{"city":"sochi"},"org":[{"id":"4222652931725170"}]});</script>
          <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
</section>

<section id="partner">
  <div class="container">
    <h1 data-aos="fade-up">Наши Партнеры</h1>
    <p data-aos="fade-up">Мы с гордостью сотрудничаем с ведущими компаниями города Сочи, которые доверяют нам и используют нашу продукцию в своей профессиональной деятельности.</p>
    <div class="partner-logos">
      <div class="row top" data-aos="zoom-in">
        <picture>
          <source srcset="{% static 'img/partners/аромат_корицы.webp' %}" type="image/webp">
          <img src="{% static 'img/partners/аромат корицы.png' %}" alt="Партнер 1" class="logo">
        </picture>
        <picture>
          <source srcset="{% static 'img/partners/магеллан.webp' %}" type="image/webp">
          <img src="{% static 'img/partners/магеллан.png' %}" alt="Партнер 2" class="logo">
        </picture>
        <picture style="margin-top: 40px;">
          <source srcset="{% static 'img/partners/лаверна.webp' %}" type="image/webp">
          <img src="{% static 'img/partners/лаверна.png' %}" alt="Партнер 3" class="logo">
        </picture>
        <picture>
          <source srcset="{% static 'img/partners/матрешка.webp' %}" type="image/webp">
          <img src="{% static 'img/partners/матрешка.png' %}" alt="Партнер 4" class="logo">
        </picture>
        <picture style="margin-top: 50px;">
          <source srcset="{% static 'img/partners/рутесто.webp' %}" type="image/webp">
          <img src="{% static 'img/partners/рутесто.png' %}" alt="Партнер 5" class="logo">
        </picture>
      </div>
      <div class="row middle" data-aos="zoom-in">
        <picture>
          <source srcset="{% static 'img/partners/санторини.webp' %}" type="image/webp">
          <img src="{% static 'img/partners/санторини.png' %}" alt="Партнер 6" class="logo">
        </picture>
        <picture>
          <source srcset="{% static 'img/partners/ваниль.webp' %}" type="image/webp">
          <img src="{% static 'img/partners/ваниль.png' %}" alt="Партнер 7" class="logo">
        </picture>
        <picture>
          <source srcset="{% static 'img/partners/лондонъ.webp' %}" type="image/webp">
          <img src="{% static 'img/partners/лондонъ.png' %}" alt="Партнер 8" class="logo">
        </picture>
        <picture>
          <source srcset="{% static 'img/partners/хлебокамбинат.webp' %}" type="image/webp">
          <img src="{% static 'img/partners/хлебокамбинат.png' %}" alt="Партнер 9" class="logo">
        </picture>
      </div>
      <div class="row bottom" data-aos="zoom-in">
        <picture>
          <source srcset="{% static 'img/partners/южное_взморье.webp' %}" type="image/webp">
          <img src="{% static 'img/partners/южное_взморье.png' %}" alt="Партнер 10" class="logo">
        </picture>
        <picture>
          <source srcset="{% static 'img/partners/пекарня_кривоноговых.webp' %}" type="image/webp">
          <img src="{% static 'img/partners/пекарня_кривоноговых.png' %}" alt="Партнер 11" class="logo">
        </picture>
        <picture>
          <source srcset="{% static 'img/partners/хлебница.webp' %}" type="image/webp">
          <img src="{% static 'img/partners/хлебница.png' %}" alt="Партнер 12" class="logo">
        </picture>
        <picture>
          <source srcset="{% static 'img/partners/ярмарки.webp' %}" type="image/webp">
          <img src="{% static 'img/partners/ярмарки.png' %}" alt="Партнер 13" class="logo">
        </picture>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text center">
        <picture>
          <source srcset="{% static 'img/br.webp' %}" type="image/webp">
          <img class="custom-br" src="{% static 'img/br.png' %}" alt="Южный Ветер">
        </picture>
      </div>
    </div>
  </div>
</section>
{% endblock %}