{% extends "base.html" %}
{% load static %}

{% block title %}Политика конфиденциальности{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/privacy_policy.css' %}">
{% endblock %}

{% block content %}
  <section id="privacy-policy" class="py-5">
    <div class="container" data-aos="fade-up">
      <h2>Политика конфиденциальности</h2>

      <p>
        Мы собираем и используем техническую информацию для улучшения работы сайта.
      </p>
      <p>
        Cookies — это небольшие текстовые файлы, которые веб-сайты сохраняют на устройстве пользователя (компьютере, смартфоне, планшете) через браузер.
        Они предназначены для хранения информации о посещениях сайта и помогают сайтам "узнавать" пользователя при последующих посещениях.
      </p>

        <h4>1. Какие данные собираются:</h4>
        <p>- Cookies (для анализа посещаемости и корректной работы сайта);</p>
        <p>- IP-адреса (для статистики и устранения ошибок).</p>

        <h4>2. Как мы используем данные:</h4>
        <p>- обеспечение бесперебойной работы сайта,</p>
        <p>- обеспечение безопасной работы посетителей с сайтом,</p>
        <p>
          - создание объективной статистики специализированными инструментами («Google Analytics», «Яндекс.Метрика»),
          позволяющим оценить работоспособность сайта и оценить параметры, отражающие его посещаемость.
        </p>

        <h4>3. Как управлять cookies:</h4>
        <p>Вы можете отключить использование cookies в настройках вашего браузера.</p>

        <h4>4. Контакты:</h4>
        <p>Если у вас есть вопросы, пишите на office@swsochi.ru</p>
    </div>
  </section>
{% endblock %}