/* Страница отдельной ошибки */
#content {
  display: flex; /* Элементы по центру */
  background-color: #ece4a9 !important; /* Фон секции */
  min-height: 100vh; /* Задает минимальную высоту секции равной высоте окна */
  position: relative; /* Позиция родитель */
  justify-content: center; /* Выравнивание по центру */
  z-index: 1; /* Приоритет при отображении */
  height: 100px; /* Размер по вертикали */
  margin: 0; /* По центру от элементов */
}

/* Контейнер ошибки */
.error-container {
    padding: 20px; /* Отступ от элементов */
    display: block; /* Элементы друг под другом */
    text-align: center; /* Выравнивание текста по центру */
    margin-top: 200px; /* Отступ сверху от элементов */
}

/* Изображение ошибки */
.error-image {
    width: auto; /* Размер изображения */
    max-width: 400px; /* Максимальный размер */
}

/* Адаптация под мобильные устройства */
@media (width <= 768px) {
    /* Контейнер ошибки */
    .error-container {
        margin-top: auto; /* Отступ сверху от элементов */
    }
}