{% extends "base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/errors.css' %}">
{% endblock %}
{% block content %}
  <div class="error-container">
      <h1> Кажется страница не найдена (404)</h1>
      <p>Простите, но мы не смогли найти страницу с таким адресом.</p>
      <p>Вы можете вернуться на <a href="/">главную страницу</a></p>
      <img src="{% static 'img/razbitoe-jajco.png' %}" alt="404 Error Image" class="error-image">
  </div>
{% endblock %}