/* Устанавливает box-sizing для всех элементов и псевдоэлементов, чтобы padding и border были включены в общую ширину и высоту элементов */
* {
  box-sizing: border-box;
}

/* Шрифты */
.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-thin {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.pacifico-regular {
  font-family: Pacifico, cursive;
  font-weight: 400;
  font-style: normal;
}


/* Общие стили для body (тело страницы) - цвет текста, цвет фона, семейство шрифтов, межбуквенный интервал и граница вокруг страницы */
body {
  color: var(--primary-font-clolor); /* Цвет текста */
  background-color: var(--primary-background-color); /* Цвет фона страницы */
  font: 1em / 1.3; /* Шрифты и межстрочный интервал */
  font-family: var(--paragraph-font-family); /* Стиль шрифта */
  letter-spacing: .05em; /* Межбуквенный интервал */
  border: 10px solid var(--primary-border-color); /* Граница вокруг всего body */
  box-sizing: border-box;
}

/* Стили для ссылок (a) и эффекты при наведении */
a {
color: var(--primary-link-color); /* Цвет ссылок */
text-decoration: none; /* Убирает подчеркивание */
}

a:hover {
color: var(--primary-hover-color); /* Изменяет цвет при наведении */
}

/* Шрифты для заголовков */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font-family); /* Шрифт для заголовков */
  font-weight: 400; /* Размер шрифта */
  margin-bottom: 20px; /* Отступ снизу от элемента */
}

/* Стили для заголовков h1, h2, h3 */
h1 {
  color: var(--header-color);
  font-size: 56px; /* Размер заголовков */
  font-weight: bold; /* Размер по вертикали */
}

h2 {
  color: var(--header-color);
  font-size: 48px;
  font-weight: bold;
}

h3 {
  color: var(--header-color);
  font-size: 32px;
  font-weight: normal;
}

p {
  color: var(--paragraph-color); /* Цвет текста */
  font-size: 19.2px;
  font-weight: normal;
}

/* Плавная прокрутка по ссылкам на странице */
html {
  scroll-behavior: var(--primary-animation-scrolling);
}

/* Стили для фиксированной шапки сайта */
header {
  position: fixed; /* Позиция по середине от родителя */
  margin: 0; /* Центрирование от элементов */
  padding: 0; /* По центру от краев страницы */
  z-index: 5; /* Приоритет при отображении */
}


/* Основной контейнер для навигации - выравнивание элементов по вертикали */
.nav-container {
  display: flex; /* Позиция по середине от родителя */
  align-items: center; /* Выравнивание текста по середине */
  justify-content: space-between; 
  margin: 0; /* Нулевой отступ */
  padding: 0; /* Нулевой отступ от краев страинцы */
  flex-direction: column; /* В колонку */
}

.destkop-home-link {
  display: block;
}

/* Логотип в шапке */
.logo {
  width: 130px; /* Размер логотипа */
  height: 130px; /* Размер логотипа по вертикали */
  z-index: 1000; /* Приоритет при отображении */
}

/* Стили для основного меню (навигационные элементы) */
.menu {
  margin: 0; /* Нулевой отступ от элементов */
  padding: 2; /* Отступ от краев страницы */
  display: flex; /* Позиция по середине от родителя */
  align-items: center; /* Выравнивание элементов по центру */
  list-style: none; /* Стиль списка? */
  flex-direction: column; /* В колонку */
  font-family: var(--header-font-family); /* Стиль шрифта */
}

/* Бургер-меню по умолчанию скрыто */
.burger-menu {
  display: none;
}

/* Стили для элементов списка меню */
.menu li {
  margin-left: 0; /* Отступ слева от элементов */
  font-size: 1.2em; /* Размер элементов */
  margin-bottom: 20px; /* Отступ снизу от элементов */
}

/* Ширина меню */
.bar-menu {
  width: 100%; /* Размер элементов */
}

/* Вертикальное меню */
.vertical-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Отступы для элементов меню */
.menu-item {
  margin: 10px 15px; /* Отступ от элементов */
  width: 100%; /* Установить 100% ширины контейнера */
}

.menu-link i {
  font-size: 24px;
  margin-bottom: 5px;
  display: none; /* Скрываем иконки по умолчанию */
}

/* Ссылка внутри меню */
.menu-link {
  width: 100%; /* Установить 100% ширины контейнера */
  padding: 15px; /* Отступ от краев страинцы */
  border-radius: 20px; /* Округляем с обеих сторон */
  transition: background-color 0.3s ease; /* Плавность анимации */
}



/* Логотип внизу страницы */
.custom-br {
  width: 500px; /* Размер логотипа */
  height: auto; /* Размер по вертикали */
  position: absolute; /* Позиция фиксированная от родителя */
  bottom: -110px; /* спуск снизу */
  left: 50%; /* слева от края */
  transform: translateX(-50%); 
  z-index: 1;
}

/* Стили активных ссылок */
.menu-link.active {
  background-color: var(--primary-border-color);/* Заливка до боковой стенки */
  color: var(--menu-hover-color); /* Цвет текста при наведении */
  border-radius: 0 20px 20px 0; /* Оставляем округление только с одной стороны */
  transition: var(--menu-animation-transition); /* Плавная анимация */
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%); /* Добавляем тень для окна */
}

/* Стили ссылок при наведении */
.menu-link:hover {
  background-color: var(--primary-border-color); /* Заливка до боковой стенки */
  color: var(--menu-hover-color); /* Цвет текста при наведении */
  border-radius: 20px; /* Оставляем округление с обеих сторон */
  transition: var(--menu-animation-transition) /* Плавная анимация */
}

/* Скрытая иконка по умолчанию */
.menu-link .icon {
  display: none;
  width: 35px; /* Размер иконки */
  height: 35px; /* Размер по вертикали */
}

/* Иконка при активном состоянии */
.menu-link.active .icon {
  display: inline-block;
}

footer {
  padding-top: 7px;
  margin-bottom: -20px;
}

footer .row {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на следующую строку */
  justify-content: space-between; /* Равномерное распределение пространства */
}

footer p {
  font-family: var(--paragraph-font-family); /* Стиль шрифта */
  line-height: 1;
  margin: 0;
  color: var(--footer-color); /* Цвет текста */
  font-size: 12px;
}

.p-link {
  font-family: var(--paragraph-font-family); /* Стиль шрифта */
  color: var(--footer-color); /* Цвет текста */
  font-weight: normal;
  font-size: 12px;
}

.p-link:hover {
  color: var(--footer-hover-color);
  position: relative;
  z-index: 1000;
}

/* Промежуточная версия (для экранов от 768px до 1350px) */
@media (width <= 1350px) {
  .bar-menu {
    display: none; /* Скрываем горизонтальное меню */
  }

  .burger-menu {
    display: none; /* Включаем бургер-меню */
  }

  .bar-menu.open {
    display: flex; /* Показываем вертикальное меню */
  }
}

@media (width <= 768px) {
  /* Стили для заголовков h1, h2, h3 */
  h1 {
    font-size: 24px; /* Размер заголовков */
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 17px
  }

  p {
    font-size: 16px;
  }

  /* Контейнер навигации */
  .nav-container {
    display: flex; /* Фиксировано по центру */
  }

  .menu-link i {
    font-size: 24px;
    margin-bottom: 5px;
    display: inline-block;
  }

  /* Логотип в шапке */
  .logo {
    width: 110px; /* Размер логотипа */
    height: 110px; /* Размер логотипа по вертикали */
  }

  /* Меню навигации */
  .bar-menu {
    display: none;
    transition: var(--mobile-menu-animation-transition);
  }

  /* Бургер меню */
  .burger-menu {
    display: block; /*  Элементы друг под другом */
    z-index: 100; /* Приоритетность при отображении */
    position: absolute; /* Позиция фиксированая от родительской */
    top: 10px; /* Вверх */
    left: 10px; /* Влево */
    cursor: pointer; 
  }

  /* Открытие меню */
  .bar-menu.open {
    display: flex;  /* Фиксирование по центру */
  }

    /* Ссылка внутри меню */
  .bar-menu.open .menu-link {
    background-color: var(--mobile-menu-link-color); /* Заливка до боковой стенки */
    border-radius: 0 20px 20px 0; /* Оставляем округление только с одной стороны */
  }

   /* При нажатии на кнопку */
  .bar-menu.open .menu-link.active {
    background-color: var(--primary-border-color); /* Заливка до боковой стенки */
  }

  /* Скрываем текст */
  .bar-menu.open .menu-text {
    display: none;
  }
}

/* Общие стили для секций сайта */
section {
  padding: 80px 20px;  /* Отступ от границ секции */
  display: flex;  /* Фискирование по центру */
  justify-content: center;  /* Выравнивание контента по центру */
  align-items: center;  /* Выравнивание элементов по центру */
  text-align: center;  /* Выравнивание текста по центру */
}

.highlight {
  color: var(--primary-highlight-color); /* Яркий цвет для акцента */
  font-family: var(--paragraph-font-family);
  font-weight: bold;
  font-size: 18px;
}

.contact-buttons {
  display: block;
  padding-top: 40px;
  padding-left: 0;
  gap: 20px;
  justify-content: left; /* Центрирование кнопок */
}

.contact-buttons p {
  text-align: left ;
  margin-left: 0;
}

.contact-buttons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-buttons li {
  display: flex;
  align-items: center;
}

.circle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f3f3f3;
  box-shadow: 0 2px 4px var(--primary-box-shadow-color);
  transition: transform 0.2s, background-color 0.2s;
  margin-right: 15px;
}

.phone-btn img {
  width: 60px;
  height: 60px;
}

.mail-btn img {
  width: 60px;
  height: 60px;
}

.fax-btn img {
  width: 66px;
  height: 69px;
}

.whatsapp-btn img {
  width: 66px; /* Размер логотипа */
  height: 50px; /* Размер по вертикали */
}

.circle-btn:hover {
  background-color: #e6e6e6;
  transform: scale(1.1); /* Лёгкое увеличение при наведении */
}

.whatsapp-btn {
  background-color: #25d366; /* Цвет WhatsApp */
}

.whatsapp-btn:hover {
  background-color: #1b9e4b;
}

.phone-btn {
  background-color: #274988; /* Заливка фона кнопки */
}

.phone-btn:hover {
  background-color: #11185f; /* Цвет фона при наведении */
}

.mail-btn {
  background-color: #e9e7e1; /* Заливка фона кнопки */
}

.mail-btn:hover {
  background-color: #757473; /* Цвет фона при наведении */
}

.fax-btn {
  background-color: #e9e7e1; /* Заливка фона кнопки */
}

.fax-btn:hover {
  background-color: #020d6e; /* Цвет фона при наведении */
}

.link-highlight {
  color: #274988;
  text-decoration: none;
}

/* Общие стили для виджета whatsapp */
.whatsapp-widget {
  position: fixed;  /* Позиция фиксированая по центру */
  right: 30px; /* Отступ справа */
  bottom: 100px; /* Отступ снизу */
  z-index: 1000; /* Высокий приоритет отображения */
}

/* Контейнер виджета */
.whatsapp-container {
  position: relative;  /* Позиция родительская */
  width: 120px; /* Размер логотипа */
  height: 120px; /* Высота кнопки */
  background-color: #25D366; /* Цвет фона для логотипа WhatsApp */
  border-radius: 50%; /* Круглая форма */
  box-shadow: 0 4px 10px rgb(0 0 0 / 15%); /* Тень */
  cursor: pointer;
  display: flex;  /* Выравнивание по центру */
  justify-content: center;  /* Выравнивание контента по центру */
  align-items: center;  /* Выравнивание элементов по центру */
  transition: transform 0.3s ease; /* Плавное увеличение */
}

/* При навидении на виджет */
.whatsapp-container:hover {
  transform: scale(1.1); /* Увеличение при наведении */
}

 /* Лототип виджета */
.whatsapp-logo {
  width: 100%; /* Логотип заполняет весь контейнер */
  height: 100%; /* Высота логотипа равна высоте контейнера */
  object-fit: cover; /* Логотип будет обрезан, если нужно */
  border-radius: 50%;  /* Закругление углов */
}

 /* Текст виджета */
.whatsapp-text {
  position: absolute; /* Текст будет поверх логотипа */
  color: rgb(46 46 46);  /* Цвет текста */
  font-size: 12px; /* Размер шрифта */
  font-weight: bold; 
  text-align: center;  /* Выравнивание текста по центру */
  width: 80%;  /* Размер блока */
  top: 100%;  /* Вниз */
  transform: translateY(-40%);
  border: 2px solid #5f5b4f; /* Пример обводки для сертификата */
  border-radius: 15px; /* Скругление углов */
  background-color: #f5f2dc;
  padding: 5px 10px;  /* Отступ от краев */
}

 /* Адаптация под мобильные устройства */
@media (width <= 768px) {
   /* Контейнер виджета */
  .whatsapp-container {
    width: 100px; /* Размер логотипа */
    height: 100px; /* Высота кнопки */
  }

  /* Текст виджета */
  .whatsapp-text {
    width: 88%;
  }
}

@media (width <= 768px) {
  /* Стили для footer */
  footer {
    padding-top: 2px;
  }

  .row {
    display: flex;
    align-items: center; /* Все элементы выравнены по центру по вертикали */
  }

  .highlight {
    font-size: 16px;
  }

  footer .col-2, footer .col-3, footer .col-5 {
    flex: 1 1 33.333%; /* Каждая колонка занимает треть ширины */
    max-width: 33.333%; /* Ограничение ширины */
    text-align: center; /* Центрирование контента внутри */
    line-height: 1; /* Пример для одинаковой высоты строк */
  }

  footer .col-2:nth-child(2) {
    padding: 0;
    padding-top: 4px;
  }

  footer .col-5{
    line-height: 0.5;
    padding: 0;
    text-align: left;
    margin-top: 0;
  }

  footer p {
    margin-top: 0;
    font-family: var(--paragraph-font-family); /* Стиль шрифта */
    font-size: 8px;
    text-align: left;
  }

  .hide-on-mobile {
     display: none; 
 }

 .p-link {
    font-family: var(--paragraph-font-family); /* Стиль шрифта */
    font-size: 8px;
    text-align: left;
  }
}

@media (width <= 390px) {
  .circle-btn {
    width: 50px;
    height: 50px;
  }

  .phone-btn img {
    width: 50px;
    height: 50px;
  }

  .whatsapp-btn img {
    width: 56px; /* Размер логотипа */
    height: 40px; /* Размер по вертикали */
  }

  .mail-btn img {
    width: 50px;
    height: 50px;
  }

  .fax-btn img {
    width: 58px;
    height: 58px;
  }

}