/* Страница отдельного продукта */
#grocery-detail {
    display: block; /* Положение друг под другом */
    background-color: #ece4a9 !important; /* Фон секции */
    min-height: 100vh; /* Задает минимальную высоту секции равной высоте окна */
    position: relative; /* Позиция родителя */
    z-index: 1; /* Приоритет при отображении */
  }

/* Текст секции */
.product-info {
  margin-top: 70px; /* Отступ сверху от элементов */
  text-align: center; /* Выравнивание текста по центру */
}

/* Стиль для обертки изображений и их описаний */
.popular-groceries {
  margin-top: 90px; /* Отступ сверху от элементов */
  display: block; /* Положение друг под другом */
}

/* Карусель изображений и описаний продуктов */
.carousel {
  max-width: 1200px; /* Уменьшите значение, чтобы добавить отступы */
  margin: 0 auto; /* Центрирует карусель */
  justify-content: center; /* Центрирование элементов внутри */
  gap: 10px; /* Расстояние между элементами */
}

/* Карточка изображения и описания продукта */
.image-wrapper {
  flex: 0 0 30%; /* Позволяет элементам адаптироваться под пространство */ /* Максимальная ширина карточки */ /* Размер по вертикали */
  margin: 10px; /* Отступы вокруг карточек */
  flex-direction: column; /* Положение элементов в колонке */
  align-items: center; /* Выравнивание элементов по центру */
  border: 2px solid #5f5b4f; /* Пример обводки для сертификата */
  border-radius: 25px; /* Скругление углов */
  background-color: #f5f2dc; /* Заливка фона карточки */
  transition: all; 
  max-width: 300px; /* Максимальный размер карточка */
  height: auto; /* Размер по вертикали */
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%); /* Тень от карточки */
  box-shadow: hover; /* Прозрачность тени */
}

/* Изображение в карточке */
.circle-image {
  display: flex; /* Положение адаптивно */
  justify-content: center; /* Выравнивание по центру */
  align-items: center; /* Выравнивание по центру */
  width: 100%; /* Размер изображения */
  height: 200px; /* Высота блока с изображением */
  font-size: 0;
}

.circle-image picture {
  display: contents; /* Выравнивание по границам контейнера */
}

/* Изображение продукта */
.grocery-image {
  max-width: 100%; /* Максимальный размер изображения */
  max-height: 100%; /* Максимальный размер по вертикали */
  object-fit: contain;
}

/* Описание продукта */
.image-description {
  font-size: 16px; /* Размер шрифта */
  width: 200px; /* Размер блока */
  display: inline-flex; /* Положение адаптивно в линию */
}

/* Адаптация под мобильные устройства */
@media (width <= 768px) {
  /* Карусель изображений и описаний продуктов */
  .carousel {
    justify-content: flex-start; /* Выравнивание адаптивно от начала */
  }

  /* Изображение в карточке */
  .image-wrapper {
    flex: 0 0 80%; /* Для мобильных устройств, например, каждая карточка занимает 80% ширины экрана */
  }

  /* Описание продукта */
  .image-description {
    font-size: 12px; /* Размер шрифта */
    width: 100px; /* Размер блока */
  }
}

/* Кнопка действия (например, "Сертификат дистрибьюции") */
.btn-certificate {
  background-color: #f8b400; /* Цвет заливки кнопки */
  border-color: #f8b400; /* Цвет границы кнопки */
  color: #eee; /* Цвет шрифта */
  width: 400px; /* Увеличение ширины кнопки */
  height: 65px; /* Увеличение высоты кнопки */
  font-size: 1.5em; /* Увеличение размера шрифта */ /* Отступ от краев страницы */
  text-decoration: none;
  margin-top: 20px; /* Отступ сверху от элементов */
  font-family: "Dela Gothic One", sans-serif; /* Стиль шрифта */
  border-radius: 10px; /* Радиус границы */
  overflow: auto; /* Включаем прокрутку, если содержимое больше окна */
  padding: 10px; /* Небольшие отступы внутри модального окна */
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%); /* Добавляем тень для окна */
}

/* Изменения при наведении на кнопку действия */
.btn-certificate:hover {
  background-color: #e09d00; /* Цвет заливки кнопки */
  border-color: #e09d00; /* Цвет границы кнопки */
  color: white;
}

/* Окно отображения сертификата */
.modal {
  display: none; /* Скрываем модальное окно по умолчанию */
  position: fixed; /* Позиция по центру */
  z-index: 1000; /* Убедитесь, что модальное окно будет отображаться поверх остальных элементов */
  left: 0; /* Центр страницы */
  top: 0; /* Центр страницы */
  width: 100%; /* Размер сертификата */
  height: 100%; /* Размер по вертикали */
  background-color: rgb(0 0 0 / 50%); /* Полупрозрачный черный фон */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center; /* Центрируем содержимое по вертикали */
  padding: 20px; /* Небольшой отступ по краям */
}

/* Изображение сертификата */
.modal img {
  display: inline-flex; /* Положение адаптивно в линию */
  max-width: 100%; /* Максимальный размер изображения */
  max-height: 80vh; /* Ограничиваем высоту изображения в модальном окне */
  object-fit: contain;
}