/* Страница отдельного продукта */
#grocery-detail {
  display: block; /* Положение друг под другом */
  background: linear-gradient(to bottom, #fffacd, #f8e5b2); /* Светлый жёлтый с градиентом */
  min-height: 100vh; /* Задает минимальную высоту секции равной высоте окна */
  position: relative; /* Позиция родителя */
  z-index: 1; /* Приоритет при отображении */
}

/* Текст секции */
.product-info {
  padding-top: 40px;
  text-align: center; /* Выравнивание текста по центру */
}

.product-info p {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

/* Стиль для обертки изображений и их описаний */
.popular-groceries {
  padding-top: 40px;
  display: block; /* Положение друг под другом */
}

/* Карусель изображений и описаний продуктов */
.carousel {
  max-width: 1200px; /* Уменьшите значение, чтобы добавить отступы */
  margin: 0 auto; /* Центрирует карусель */
  justify-content: center; /* Центрирование элементов внутри */
  gap: 10px; /* Расстояние между элементами */
}

/* Карточка изображения и описания продукта */
.image-wrapper {
  flex: 0 0 30%; /* Позволяет элементам адаптироваться под пространство */ /* Максимальная ширина карточки */ /* Размер по вертикали */
  margin: 10px; /* Отступы вокруг карточек */
  flex-direction: column; /* Положение элементов в колонке */
  align-items: center; /* Выравнивание элементов по центру */
  border: 2px solid var(--grocery-detail-card-border-color);
  border-radius: 25px; /* Скругление углов */
  background-color: var(--grocery-detail-card-background-color); /* Заливка фона карточки */
  transition: all; 
  max-width: 300px; /* Максимальный размер карточка */
  height: auto; /* Размер по вертикали */
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%); /* Тень от карточки */
  box-shadow: hover; /* Прозрачность тени */
}

/* Изображение в карточке */
.circle-image {
  display: flex; /* Положение адаптивно */
  justify-content: center; /* Выравнивание по центру */
  align-items: center; /* Выравнивание по центру */
  width: 100%; /* Размер изображения */
  height: 200px; /* Высота блока с изображением */
  font-size: 0;
}

.circle-image picture {
  display: contents; /* Выравнивание по границам контейнера */
}

/* Изображение продукта */
.grocery-image {
  max-width: 100%; /* Максимальный размер изображения */
  max-height: 100%; /* Максимальный размер по вертикали */
  object-fit: contain;
}

/* Описание продукта */
.image-description {
  font-size: 16px; /* Размер шрифта */
  width: 200px; /* Размер блока */
  color: var(--paragraph-color); /* Мягкий цвет текста */
  font-weight: bold;
  display: inline-flex; /* Положение адаптивно в линию */
}

/* Кнопка действия (например, "Сертификат дистрибьюции") */
.button {
  background-color: var(--grocery-detail-cartificate-button-background-color); /* Цвет заливки кнопки */
  border-color: var(--grocery-detail-cartificate-button-border-color0); /* Цвет границы кнопки */
  color: var(--grocery-detail-cartificate-button-color); /* Цвет шрифта */
  width: 400px; /* Увеличение ширины кнопки */
  height: 65px; /* Увеличение высоты кнопки */
  font-size: 1.5em; /* Увеличение размера шрифта */ /* Отступ от краев страницы */
  text-decoration: none;
  margin-top: 20px; /* Отступ сверху от элементов */
  font-family: var(--header-font-family); /* Стиль шрифта */
  border-radius: 10px; /* Радиус границы */
  overflow: auto; /* Включаем прокрутку, если содержимое больше окна */
  padding: 10px; /* Небольшие отступы внутри модального окна */
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%); /* Добавляем тень для окна */
}

/* Изменения при наведении на кнопку действия */
.button:hover {
  background-color: var(--grocery-detail-cartificate-button-hover-background-color); /* Цвет заливки кнопки */
  border-color: var(--grocery-detail-cartificate-button-border-hover-color); /* Цвет границы кнопки */
  color: var(--grocery-detail-cartificate-button-color);
}

/* Окно отображения сертификата */
.modal {
  display: none; /* Скрываем модальное окно по умолчанию */
  position: fixed; /* Позиция по центру */
  z-index: 1000; /* Убедитесь, что модальное окно будет отображаться поверх остальных элементов */
  left: 0; /* Центр страницы */
  top: 0; /* Центр страницы */
  width: 100%; /* Размер сертификата */
  height: 100%; /* Размер по вертикали */
  background-color: rgb(0 0 0 / 50%); /* Полупрозрачный черный фон */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center; /* Центрируем содержимое по вертикали */
  padding: 20px; /* Небольшой отступ по краям */
}

/* Изображение сертификата */
.modal img {
  display: inline-flex; /* Положение адаптивно в линию */
  max-width: 100%; /* Максимальный размер изображения */
  max-height: 80vh; /* Ограничиваем высоту изображения в модальном окне */
  object-fit: contain;
}


/* Блок категорий других товаров */
.other-groceries {
  max-width: 1200px;
  padding: 40px 0;
  border-radius: 8px;
  margin: 0 auto; /* Центрирование по горизонтали */
  position: relative; /* Исключает влияние абсолютного позиционирования */
  display: block; /* Используйте flex для контроля выравнивания */
  justify-content: center; /* Центрирует элементы внутри */
  align-items: center; /* Центрирует по вертикали */
}

.other-groceries h3 {
  font-size: 28px;
}

.hidden {
  display: none;
}

.toggle-button {
  display: none;
}

.category-links {
  display: inline-flex;
  margin: 20px 0;
  gap: 30px;
}

.category-image {
  position: relative;
}

/* Элемент с названием категории */
.category-name {
  position: absolute;
  top: 110%; /* Располагаем под кружком */
  left: 50%;
  transform: var(--grocery-detail-category-name-animation-transform); /* Центрируем под кружком */
  background-color: var(--grocery-detail-category-name-background-color);
  color: var(--header-color); /* Тёмно-серый текст */
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 8px; /* Закруглённые углы */
  white-space: nowrap; /* Отключаем перенос текста */
  box-shadow: 0 2px 4px var(--primary-box-shadow-color); /* Лёгкая тень */
  opacity: 0; /* Исходное состояние */
  transition: var(--grocery-detail-category-name-animation-transition);
  z-index: 1;
}

.category-image:hover .category-name {
  opacity: 1;
}

/* Изображения  категорий */
.category-image img {
  width: 120px; /* Размер изображения */
  height: 120px; /* Размер по вертикали */
  border-radius: 50%; /* Круглые изображения */
  object-fit: cover;
  transition: var(--grocery-detail-category-image-animation-transition); /* Плавный переход */
  box-shadow: 0 2px 4px var(--primary-box-shadow-color); 
}


/* Блок доставки */
.order-guide {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  border-radius: 8px;
}

.order-guide h3 {
  margin-bottom: 1rem;
  font-size: 26px;
  color: var(--header-color);
}

.order-guide p {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.contact-groceries {
  max-width: 1000px;
  display: block;
  position: relative;
  text-align: left;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 0;
}

.link-highlight:hover {
  text-decoration: underline;
}

.category-image:hover img {
  transform: var(--grocery-detail-category-image-hover-animation-transform); /* Увеличение изображения на 10% */
}

.order-guide h4 {
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 22px;
  color: var(--header-color);
}

.order-guide ul {
  margin: 15px 0;
  line-height: 1.5;
}

.order-guide ul li {
  margin-bottom: 10px;
}

.contact-buttons p {
  margin-left: 0;
}


/* Адаптация под мобильные устройства */
@media (width <= 1150px) {
  .category-image img {
    width: 90px; /* Размер изображения */
    height: 90px; /* Размер по вертикали */
  }
}


@media (width <= 1000px) {
  .image-description {
    width: 100px; /* Размер блока */
  }
}

@media (width <= 1000px) {
  .category-image img {
    width: 70px; /* Размер изображения */
    height: 70px; /* Размер по вертикали */
  }
}


/* Адаптация под мобильные устройства */
@media (width <= 768px) {
  .popular-groceries {
    padding-bottom: 40px;
  }

  .popular-groceries h2 {
    font-size: 22px !important;
  }

  /* Карусель изображений и описаний продуктов */
  .carousel {
    justify-content: flex-start; /* Выравнивание адаптивно от начала */
  }

  /* Изображение в карточке */
  .image-wrapper {
    flex: 0 0 80%; /* Для мобильных устройств, например, каждая карточка занимает 80% ширины экрана */
  }

  /* Описание продукта */
  .image-description {
    font-size: 12px; /* Размер шрифта */
  }

  .button {
    width: auto;
    font-size: 16px;
  }

  .toggle-button {
    display: block;
    align-items: center;
    margin: 0 auto;
  }

  .category-links.hidden {
    display: none;
  }

  .category-links {
    display: flex;
    flex-wrap: wrap; /* Чтобы элементы переходили на новую строку */
    gap: 10px; /* Промежуток между карточками */
    justify-content: center; /* Центрируем карточки */
  }

  .other-groceries {
    padding-top: 10px;
  }

  .category-image {
    flex: 1 1 calc(33.33% - 16px); /* Устанавливаем ширину ячеек (1/3 ширины строки) */
    max-width: 150px; /* Ограничиваем ширину */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--grocery-detail-card-background-color); /* Фон карточки */
    border: 2px solid var(--grocery-detail-card-border-color);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%); /* Тень от карточки */
    box-shadow: hover; /* Прозрачность тени */
    text-align: center;
    max-height: 200px; /* Высота карточки */
    position: relative;
  }

  .category-image img {
    width: 80px; /* Уменьшенные размеры изображения */
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }

  .category-name {
    font-size: 12px; /* Размер текста */
    color: var(--paragraph-color);
    font-weight: bold;
    top: 0;
    left: auto;
    transform: none;
    opacity: 1; /* Убираем скрытие */
    background-color: transparent; /* Убираем фон */
    margin-top: 8px; /* Отступ между картинкой и названием */
    border: none; /* Убираем рамку */
    width: 100%; /* Растянуть по ширине карточки */
    padding: 0;
    display: block;
    position: relative; /* Разместить под картинкой */
    white-space: normal;
    text-align: center;
    z-index: 1; /* Чтобы текст был поверх фона */
    box-shadow: none;
  }

  .whatsapp-widget {
    display: none;
  }
}

@media (width <= 390px) {
  /* Уменьшение размера изображений */
  .category-image img {
    width: 60px; /* Уменьшение ширины изображений */
    height: 60px; /* Размер по вертикали */
    border-radius: 50%; /* Круглые изображения */
    object-fit: cover;
  }
}