/* Секция home */
.section, .section-after {
  position: relative;
  z-index: 1;
}

.section::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 25px;
  background: #f8b400;
  display: block; /* Убедитесь, что псевдоэлемент отображается */
  left: 0;
  z-index: -1; /* Убедитесь, что псевдоэлемент находится за содержимым */
}

.section-after::after {
  content: '';
  position: absolute;
  bottom: 0; /* Полоска должна быть внизу секции */
  left: 0;
  width: 100%;
  height: 25px; /* Высота полоски */
  background: #f8b400; /* Цвет полоски */
  z-index: 0; /* Позади содержимого */
}

#home {
  background: linear-gradient(to bottom, #ece4a9, #fffacd); /* Светлый жёлтый с градиентом */
  background-color:  !important; /* Фон секции */
  overflow: hidden; /* Позволяет секции корректно расширяться по содержимому */
  display: flex; /* Положение */
  flex-direction: row; /* Размещаем элементы в строку */
  padding-bottom: 40px; /* Дополнительное расстояние снизу */
  position: relative;
  z-index: 1; /* Приоритетность при отображении */
}

/* Заголовок первая часть */
.h2-title {
  font-family: Pacifico;
  font-size: 56px;
  justify-content: center;
  margin: 0 auto;
  color: #333;
}

/*  Вторая часть заголовка */
.h1-title { 
  font-family: Pacifico;
  margin: 0 auto;
  font-size: 76px;
  text-align: center;
}

/* Элементы home */
.element-list {
  display: flex; /* Положение */
  flex-flow: row-reverse wrap;  /* Элементы в строку */ 
  justify-content: space-between; /* Размещение блоков с промежутками */
}

/* Каждый элемент */
.element-item {
  margin-bottom: 40px; /* Отступ вниз после каждого элемента */
  box-sizing: border-box; 
  display: flex; /* Положение */
  flex-direction: column; /* Элементы друг под другом */
  align-items: center; /* Орииентация по центру */
  position: relative; /* Позиция родитель */
  top: calc(10px * var(--index)); /* Смещение каждого элемента вниз, в зависимости от его индекса */
}

/* Элементы слева */
.element-item:nth-child(odd) {
  top: 80px; /* Элементы с нечетным индексом остаются на месте */
}

/* Элементы справа */
.element-item:nth-child(even) {
  top: 0; /* Элементы с четным индексом сдвигаются чуть ниже */
}

.element-item:nth-child(3) {
  top: -80px; /* Элементы с четным индексом сдвигаются чуть ниже */
}

/* Изображение элементов */
.element-image img {
  max-width: 400px; /* Максимальный размер */
  height: auto; /* Длина элемента */
  border-radius: 45px; /* Скругленные углы для изображения */
  margin-bottom: 10px; /* Отступ между изображением и текстом */
}

/* Текстовый блок */
.element-details {
  padding-left: 10px;  /* Отступ от левого края */
  padding-right: 10px; /* Отступ между текстом и изображением */
}

/* Для нечетных блоков (изображение слева, текст справа) */
.element-item:nth-child(odd) {
  flex-direction: row-reverse; /* Положение изображения и текста */
}

/* Для четных блоков (изображение справа, текст слева) */
.element-item:nth-child(even) {
  flex-direction: row; /* Положение изображения и текста */
  padding-left: 20px; /* Отступ от левого края */
}

/* Описание в элементах */
.element-details p {
  margin: 0 auto; /* Центрирование блока относительно родителя */
  padding-left: 20px; /* Отступ между текстом и изображением */
  text-align: justify; /* Выровнять текст по ширине */
  width: 100%; /* Занять всю доступную ширину */
}


/* Градиент для фона секции */
#categories {
  background: linear-gradient(to bottom, #fffacd, #f8e5b2); /* Светлый жёлтый с градиентом */
  padding: 50px 20px;
}

/* Текст описания категории */
.category-description p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

/* Контейнер списка категорий */
.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Расстояние между элементами */
  justify-content: space-between;
  align-items: stretch;
}

.category-item {
  flex: 0 1 calc(50% - 10px); /* Два столбца */
  display: flex;
  text-align: left; /* Выравнивание текста */
  align-items: center;
  margin-bottom: 20px;
}

.category-left {
  width: 100%;
  justify-content: flex-start; /* Выровнять влево */
}

.category-right {
  width: 100%;
  justify-content: flex-start; /* Выровнять вправо */
}

.category-image {
  padding-right: 10px;
}

.category-image picture img {
  width: 200px; /* Размер изображения */
  height: 200px; /* Размер по вертикали */
  border-radius: 50%; /* Круглая форма */
  border: 1px solid #965b0d; /* Рамка */
  object-fit: cover;
  box-shadow: 0 2px 4px black;
  transition: transform 0.3s ease; /* Анимация при наведении */
}

.category-image picture img:hover {
  transform: scale(1.05); /* Лёгкое увеличение при наведении */
}

/* Заголовок секции продуктов */
.section-title {
  font-size: 3em; /* Размер элементов заголовка */
  text-align: center; /* Центрирование заголовка */
  color: #333; /* Цвет заголовка */
  margin-bottom: 40px; /* Отступ снизу от элементов */
}

/* Стили для заголовков категорий */
.category-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #333; /* Стандартный цвет заголовка */
  text-decoration: none; /* Убираем стандартное подчеркивание */
  transition: color 0.3s ease; /* Плавное изменение цвета */
}

.category-title:hover {
  color: #f8b400; /* Новый цвет при наведении */
  text-decoration: none !important; /* Убираем подчеркивание при наведении */
}

/* Кнопка действия (например, "Cвязаться с нами") */
.btn-primary {
  max-width: 350px;
  height: auto;
  display: inline-flex;
  align-items: center;
  gap: 8px; /* Расстояние между иконкой и текстом */
  font-family: 'Dela Gothic One', sans-serif;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #25d366; /* Цвет WhatsApp */
  box-shadow: 0 2px 4px black;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.btn-primary:hover {
  background-color: #1dc955; /* Более тёмный оттенок */
  transform: scale(1.05); /* Лёгкое увеличение при наведении */
}


/* Стили для секции "О нас" */
#about {
  background: linear-gradient(to bottom, #f8e5b2, #f1eaa9); /* Светлый жёлтый с градиентом */
}

/* Контейнер "о нас" */
#about .container {
  max-width: 1200px; /* Максимальный размер контейнера */
  margin: 0 auto; /* Положение элементов по центру контейнера */ 
}

/* Заголовок в секции "О нас" */
#about h1 {
  text-align: center; /* Центрирование заголовка */
  margin-bottom: 40px; /* Отступ заголовка от нижнего края */
}

/* Стили для списка преимуществ */
.advantages {
  display: flex; /* Положение элементов */
  flex-flow: row wrap; /* Положение изображений, загловка и текста в элементе */ 
  gap: 30px 20px; /* Отступ между элементами */
  justify-content: space-around;
}

/* Стили для отдельного блока преимущества */
.advantage {
  display: flex; /* Положение элемента */
  align-items: flex-start; /* Выравниваем элементы сверху */
  text-align: left; /* Текст по левому краю */
  background-color: transparent; /* Фон элемента (ячейка) */
  border: none; /* Граница ячейки (нет) */
  flex: 1 1 calc(33% - 40px); 
  max-width: calc(33% - 40px); /* Максимальный размер ячейки */
  box-sizing: border-box;
  padding: 5px;
  padding-left: 0;
}

/* Изображение для преимущества */
.advantage picture {
  margin-right: 15px;
  display: flex;
  align-items: center;
  flex-shrink: 0; /* Элемент не должен уменьшаться с сокращением пространства */
}

.advantage img {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.advantage:hover img {
  transform: scale(1.1); /* Небольшое увеличение изображения */
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2)); /* Тень */
}

/* Заголовок внутри блока преимущества */
.advantage h3 {
  margin: 0; /* Отступ между элементами */
  font-size: 20px; /* Размер заголовка */
}

/* Текст внутри блока преимущества */
.advantage p {
  margin: 5px 0 0; /* Отступ между текстами */
  font-size: 16px;
}

/* Текст в секции "О нас" */
#about p {
  line-height: 1.6em; /* Ширина текста */
  margin-bottom: 40px; /* Отступ текста от нижнего края */
}

.advantage .highlight {
  font-size: 16px;
}


/* Секция контактов */
#contact {
  background: linear-gradient(to bottom, #f1eaa9, #ece4a9); /* Светлый жёлтый с градиентом */
  position: relative; /* Позиция родитель */
  z-index: 1; /* Приоритет при отображении */
  display: block;
}

/* Текст секции контактов */
#contact p {
  color: #666; /* Цвет текста в секции */
}

#contact .container {
  display: flex;
  flex-direction: column; /* Сохраняем вертикальное расположение */
  align-items: center; /* Центрирование по горизонтали */
  max-width: 1500px;
  position: relative;
  margin: 0 auto;
}

.contacts {
  max-width: 1000px;
  width: 100%; /* Устанавливаем ширину, чтобы центрирование работало правильно */
}

.contact-buttons {
  position: relative;
  align-items: center;
}

.static-map {
  overflow: hidden;
  width: 100%;
  height: auto;
}

.widget-map {
  width: 100%;
  max-width: auto; /* Ширина совпадает с шириной container */
  margin: 0 auto; /* Центрирование */
  padding-top: 40px;
  position: relative;
}

.widget-map iframe {
  width: 100% !important;
  height: 500px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Тень */
  border-radius: 25px; /* Скругление углов */
  overflow: hidden; /* Убирает лишние края iframe */
}


.contact-buttons .row {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  justify-content: space-between; /* Разделяет кнопки равномерно */
  margin-bottom: 20px;
}

.contact-buttons .column {
  display: flex;
  flex-direction: column; /* Элементы располагаются в столбик */
  align-items: flex-start; /* Выравниваем всё по левому краю */
  gap: 20px; /* Расстояние между элементами */
}

.contact-buttons .column li {
  display: flex;
  align-items: center; /* Центрируем содержимое li по вертикали */
}

.contact-buttons .column li .circle-btn {
  flex: 0 0 50px; /* Фиксированная ширина кнопок (например, 50px) */
  margin-right: 15px; /* Отступ между кнопкой и текстом */
}

.working-time {
  padding: 40px 0;
}

/* Секция партнеров */
#partner {
  background: linear-gradient(to bottom, #ece4a9, #f5efb8); /* Светлый жёлтый с градиентом */
  position: relative; /* Позиция - родитель */
  z-index: 1; /* Приоритет при отображении */
  padding-bottom: 75px;
}

/* Контейнер партнеров */ 
#partner .container {
  max-width: auto; /* Максимальный размер контейнера */
  margin: 0 auto; /* Положение элементов по центру */
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Заголовки партнеров */
#partner h1 {
  margin-bottom: 20px; /* Отступ снизу от элементов */
}

/* Текст партнеров */
#partner p {
  margin: 0 auto 40px; /* Отступ между элементами */
}

/* Логотипы партнеров */
.partner-logos {
  display: flex; /* Положение друг за другом */
  flex-direction: column; /* В колонки */
  align-items: center; /* Ориентация элементов по ценрту */
  gap: 30px; /* Отступы между элементами */
}

/* Логотип партнера */
.partner-logos .logo {
  max-width: 120px; /* Максимальный размер логотипа */
  height: auto; /* Размер по вертикали */
  object-fit: contain;
  transition: transform 0.3s ease; /* Плавная анимация */
}

/* Логотип при наведении курсором */
.partner-logos .logo:hover {
  transform: scale(1.1); /* Увеличение логотипа при наведении */
}

/* Уникальная структура для расположения логотипов */
#partner .row {
  display: flex;
  justify-content: center;
}

#partner .row.top, .row.bottom {
  gap: 90px; /* Отступ между элементами */
  margin-bottom: -25px; /* Отступ снизу от элементов */
}

#partner .row.bottom {
  padding-bottom: 60px;
}

#partner .row.middle {
  gap: 90px;
  margin-bottom: -25px;
}

/* Логотип внизу страницы */
.custom-br {
  width: 500px; /* Размер логотипа */
  height: auto; /* Размер по вертикали */
  position: absolute; /* Позиция фиксированная от родителя */
  left: 50%; /* слева от края */
  transform: translateX(-50%); 
  z-index: 1;
}

