/* Секция home */
.section, .section-after {
  position: relative;
  z-index: 1;
}

.section::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 25px;
  background: var(--primary-background-color);
  display: block; /* Убедитесь, что псевдоэлемент отображается */
  left: 0;
  z-index: -1; /* Убедитесь, что псевдоэлемент находится за содержимым */
}

.section-after::after {
  content: '';
  position: absolute;
  bottom: 0; /* Полоска должна быть внизу секции */
  left: 0;
  width: 100%;
  height: 25px; /* Высота полоски */
  background: var(--primary-background-color); /* Цвет полоски */
  z-index: 0; /* Позади содержимого */
}

#home {
  background: var(--home-background-color);
  overflow: unset;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding-top: 60px;
}

.element-list {
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 40px;
  align-items: center;
  gap: 15px;
  position: relative; /* Устанавливаем контекст для позиционирования стрелок */
}

.element-item {
  flex: 1 1 calc(25% - 20px); /* Ширина каждой карточки — 25% минус отступы */
  max-width: calc(25% - 20px); /* Максимальная ширина — 25% */
  margin: 15px;
  height: auto;
  background-color: #f5f2dc;
  border-radius: 25px;
  box-shadow: 0 8px 15px var(--primary-box-shadow-color);
  transition: var(--home-element-animation-transition);
  cursor: pointer;
  position: relative;
  transform: var(--home-element-animation-transform);
  opacity: 1;
  text-align: center;
}

/* Анимация для скрытия карточки */
.element-item.hiding {
  transform: var(--home-element-hiding-animation-transform); /* Уменьшение */
  opacity: 0; /* Исчезновение */
  transition: var(--home-element-animation-transition);
}

/* Анимация для показа карточки */
.element-item.showing {
  transform: var(/* Анимация увеличения карточки в секции */); /* Восстановление размера */
  opacity: 1; /* Возвращение */
  transition: var(--home-element-animation-transition);
}

/* Для плавности скрытия через display */
.element-item.hide {
  display: none;
}

.element-item:hover {
  transform: scale(1.05); /* Увеличение */
  box-shadow: 0 5px 15px var(--primary-box-shadow-color); /* Тень */
}

.element-details p {
  font-size: 12px;
  color: var(--paragraph-color);
  line-height: 1.5;
}

.element-details .highlight {
  font-size: 12px;
}

.element-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.element-image img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}

.element-image {
  text-align: center;
  margin-bottom: 15px;
}

.element-details {
  padding-bottom: 15px;
}

.active-card {
  margin-top: 10px;
  margin-bottom: 60px;
  border-radius: 25px;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  background-color: var(--home-element-active-background-color);
  box-shadow: 0 15px 30px var(--primary-box-shadow-color);
  position: relative;
  left: 30%;
  top: 50%;
  max-width: 500px;
  z-index: 1000;
  transform: var(--home-element-hiding-animation-transform); /* Начинаем с уменьшенного размера */
  opacity: 0; /* Начинаем с прозрачности */
  transition: var(--home-element-animation-transition);
  display: none;
}

/* Анимация для активной карточки */
.active-card.showing {
  transform: var(--home-element-animation-transform); /* Увеличение */
  opacity: 1; /* Появление */
  transition: var(--home-element-animation-transition);
}

.active-card.hiding {
  transform: var(--home-element-hiding-animation-transform); /* Уменьшение */
  opacity: 0; /* Исчезновение */
  transition: var(--home-element-animation-transition);
}

.active-card.show {
  display: block;
  opacity: 1;
  transform: var(--home-element-show-animation-transform);
  transition: var(--home-element-animation-transition);

}

.active-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.active-card .short-text {
  display: none;
}

.full-text {
  display: none;
}

.active-card .full-text {
  display: block;
}

.active-card:hover {
  transform: var(--home-element-active-hover-animation-transform);
  box-shadow: 0 12px 25px var(--primary-box-shadow-color);
}

.active-card p {
  font-size: 16px;
}

.active-card .highlight {
  font-size: 16px;
}


.active-card-image img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}

.active-card-details {
  flex: 1;
  padding-right: 10px;
  padding-left: 10px;
}

figcaption {
  text-align: center;
  font-size: 14px;
  color: var(--home-element-figcaption-color);
  margin-top: 10px;
}

.action-link {
  text-align: end;
  padding-right: 10px;
}

/* Градиент для фона секции */
#categories {
  background: var(--category-background-color); /* Светлый жёлтый с градиентом */
  padding: 50px 20px;
}

/* Текст описания категории */
.category-description p {
  font-size: 1rem;
  color: var(--paragraph-color);
  line-height: 1.5;
}

/* Контейнер списка категорий */
.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Расстояние между элементами */
  justify-content: space-between;
  align-items: stretch;
}

.category-item {
  flex: 0 1 calc(50% - 10px); /* Два столбца */
  display: flex;
  text-align: left; /* Выравнивание текста */
  align-items: center;
  margin-bottom: 20px;
}

.category-left {
  width: 100%;
  justify-content: flex-start; /* Выровнять влево */
}

.category-right {
  width: 100%;
  justify-content: flex-start; /* Выровнять вправо */
}

.category-image {
  padding-right: 10px;
}

.category-image picture img {
  width: 200px; /* Размер изображения */
  height: 200px; /* Размер по вертикали */
  border-radius: 50%; /* Круглая форма */
  border: 1px solid var(--category-border-color); /* Рамка */
  object-fit: cover;
  box-shadow: 0 2px 4px var(--primary-box-shadow-color);
  transition: var(--category-animation-transition); /* Анимация при наведении */
}

.category-image picture img:hover {
  transform: var(--category-animation-transform); /* Лёгкое увеличение при наведении */
}

/* Заголовок секции продуктов */
.section-title {
  font-size: 3em; /* Размер элементов заголовка */
  text-align: center; /* Центрирование заголовка */
  color: var(--header-color); /* Цвет заголовка */
  margin-bottom: 40px; /* Отступ снизу от элементов */
}

/* Стили для заголовков категорий */
.category-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--header-color); /* Стандартный цвет заголовка */
  text-decoration: none; /* Убираем стандартное подчеркивание */
  transition: var(--category-animation-title-transition); /* Плавное изменение цвета */
}

.category-title:hover {
  color: var(--primary-border-color); /* Новый цвет при наведении */
  text-decoration: none !important; /* Убираем подчеркивание при наведении */
}

/* Кнопка действия (например, "Cвязаться с нами") */
.btn-primary {
  max-width: 350px;
  height: auto;
  display: inline-flex;
  align-items: center;
  gap: 8px; /* Расстояние между иконкой и текстом */
  font-family: var(--header-font-family);
  padding: 10px 20px;
  font-size: 20px;
  background-color: var(--category-bttn-background-color); /* Цвет WhatsApp */
  box-shadow: 0 2px 4px var(--primary-box-shadow-color);
  border: none;
  border-radius: 5px;
  color: var(--category-bttn-color);
}

.btn-primary:hover {
  background-color: var(--category-bttn-hover-background-color); /* Более тёмный оттенок */
  transform: var(--category-animation-transform); /* Лёгкое увеличение при наведении */
}


/* Стили для секции "О нас" */
#about {
  background: var(--about-background-color);
}

/* Контейнер "о нас" */
#about .container {
  max-width: 1200px; /* Максимальный размер контейнера */
  margin: 0 auto; /* Положение элементов по центру контейнера */ 
}

/* Заголовок в секции "О нас" */
#about h1 {
  text-align: center; /* Центрирование заголовка */
  margin-bottom: 40px; /* Отступ заголовка от нижнего края */
}

/* Стили для списка преимуществ */
.advantages {
  display: flex; /* Положение элементов */
  flex-flow: row wrap; /* Положение изображений, загловка и текста в элементе */ 
  gap: 30px 20px; /* Отступ между элементами */
  justify-content: space-around;
}

/* Стили для отдельного блока преимущества */
.advantage {
  display: flex; /* Положение элемента */
  align-items: flex-start; /* Выравниваем элементы сверху */
  text-align: left; /* Текст по левому краю */
  background-color: transparent; /* Фон элемента (ячейка) */
  border: none; /* Граница ячейки (нет) */
  flex: 1 1 calc(33% - 40px); 
  max-width: calc(33% - 40px); /* Максимальный размер ячейки */
  box-sizing: border-box;
  padding: 5px;
  padding-left: 0;
}

/* Изображение для преимущества */
.advantage picture {
  margin-right: 15px;
  display: flex;
  align-items: center;
  flex-shrink: 0; /* Элемент не должен уменьшаться с сокращением пространства */
}

.advantage img {
  width: 50px;
  height: auto;
  transition: var(--about-animation-transition);
}

.advantage:hover img {
  transform: scale(1.1); /* Небольшое увеличение изображения */
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2)); /* Тень */
}

/* Заголовок внутри блока преимущества */
.advantage h3 {
  margin: 0; /* Отступ между элементами */
  font-size: 20px; /* Размер заголовка */
}

/* Текст внутри блока преимущества */
.advantage p {
  margin: 5px 0 0; /* Отступ между текстами */
  font-size: 16px;
}

/* Текст в секции "О нас" */
#about p {
  line-height: 1.6em; /* Ширина текста */
  margin-bottom: 40px; /* Отступ текста от нижнего края */
}

.advantage .highlight {
  font-size: 16px;
}


/* Секция контактов */
#contact {
  background: var(--contact-background-color); /* Светлый жёлтый с градиентом */
  position: relative; /* Позиция родитель */
  z-index: 1; /* Приоритет при отображении */
  display: block;
}

/* Текст секции контактов */
#contact p {
  color: var(--contact-paragraph-color); /* Цвет текста в секции */
}

#contact .container {
  display: flex;
  flex-direction: column; /* Сохраняем вертикальное расположение */
  align-items: center; /* Центрирование по горизонтали */
  max-width: 1500px;
  position: relative;
  margin: 0 auto;
}

.contacts {
  max-width: 1000px;
  width: 100%; /* Устанавливаем ширину, чтобы центрирование работало правильно */
}

.contact-buttons {
  position: relative;
  align-items: center;
}

.static-map {
  overflow: hidden;
  width: 100%;
  height: auto;
}

.widget-map {
  width: 100%;
  max-width: auto; /* Ширина совпадает с шириной container */
  margin: 0 auto; /* Центрирование */
  padding-top: 40px;
  position: relative;
}

.widget-map iframe {
  width: 100% !important;
  height: 500px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Тень */
  border-radius: 25px; /* Скругление углов */
  overflow: hidden; /* Убирает лишние края iframe */
}


.contact-buttons .row {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  justify-content: space-between; /* Разделяет кнопки равномерно */
  margin-bottom: 20px;
}

.contact-buttons .column {
  display: flex;
  flex-direction: column; /* Элементы располагаются в столбик */
  align-items: flex-start; /* Выравниваем всё по левому краю */
  gap: 20px; /* Расстояние между элементами */
}

.contact-buttons .column li {
  display: flex;
  align-items: center; /* Центрируем содержимое li по вертикали */
}

.contact-buttons .column li .circle-btn {
  flex: 0 0 50px; /* Фиксированная ширина кнопок (например, 50px) */
  margin-right: 15px; /* Отступ между кнопкой и текстом */
}

.working-time {
  padding: 40px 0;
}

/* Секция партнеров */
#partner {
  background: var(--partner-background-color); /* Светлый жёлтый с градиентом */
  position: relative; /* Позиция - родитель */
  z-index: 1; /* Приоритет при отображении */
  padding-bottom: 75px;
}

/* Контейнер партнеров */ 
#partner .container {
  max-width: auto; /* Максимальный размер контейнера */
  margin: 0 auto; /* Положение элементов по центру */
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Заголовки партнеров */
#partner h1 {
  margin-bottom: 20px; /* Отступ снизу от элементов */
}

/* Текст партнеров */
#partner p {
  margin: 0 auto 40px; /* Отступ между элементами */
}

/* Логотипы партнеров */
.partner-logos {
  display: flex; /* Положение друг за другом */
  flex-direction: column; /* В колонки */
  align-items: center; /* Ориентация элементов по ценрту */
  gap: 30px; /* Отступы между элементами */
}

/* Логотип партнера */
.partner-logos .logo {
  max-width: 120px; /* Максимальный размер логотипа */
  height: auto; /* Размер по вертикали */
  object-fit: contain;
  transition: var(--partner-logo-animation-transition); /* Плавная анимация */
}

/* Логотип при наведении курсором */
.partner-logos .logo:hover {
  transform: var(--partner-logo-animation-transform); /* Увеличение логотипа при наведении */
}

/* Уникальная структура для расположения логотипов */
#partner .row {
  display: flex;
  justify-content: center;
}

#partner .row.top, .row.bottom {
  gap: 90px; /* Отступ между элементами */
  margin-bottom: -25px; /* Отступ снизу от элементов */
}

#partner .row.bottom {
  padding-bottom: 60px;
}

#partner .row.middle {
  gap: 90px;
  margin-bottom: -25px;
}

/* Логотип внизу страницы */
.custom-br {
  width: 500px; /* Размер логотипа */
  height: auto; /* Размер по вертикали */
  position: absolute; /* Позиция фиксированная от родителя */
  left: 50%; /* слева от края */
  transform: var(--partner-br-animation-transform); 
  z-index: 1;
}

